!!!5
html
  head
    link(href='/public/public.css', rel='stylesheet', media='screen')
  
  body

    .css-thumb
    .less-thumb
    .styl-thumb

    script(src='/public/public.js')
    :coffeescript
      require 'boot'
