!!!5
html
  head
    link(href='/public/vanilla.css', rel='stylesheet', media='screen')
  
  body

    .css-thumb
    .less-thumb
    .styl-thumb

    script(src='/public/vanilla.js')
    :coffeescript
      require 'app'
